<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
   {{>navbar}}
    <!-- main header-->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                      <!--right side div-->
                      <div class="col-md-6 col-12 main_header_right align-items-center">
                                 
                        <figure>
                            <img src="images/about1.png" alt="mandal" class="img-fluid" title="mandal badal">
                        </figure>
                      </div>
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to Weather app</p>
                            <h2>Get The Latest <span class="text_clr">Weather</span> Info of your City</h2>
                             <a href="/weather"><button>check now</button></a>
                              </div>
                           
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer code-->
    {{>footer}}
</body>

</html>